body{
  font-family: verdana, Tahoma, serifSansSerifMonospace,sans-serif;
  color:#000000;
  font-size:12px;
}

h1 {
  color: black;
  font-size:20px;
  font-weight: normal;
  letter-spacing: 1px;
  padding-top: 6px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 6px;
}

h2 {
  color: #700;
  font-size:16px;
  font-weight: normal;
  letter-spacing: 0px;
}

h3 {
  color:black;
  font-size:14px;
  font-weight: normal;
  text-decoration:none;
  letter-spacing: 0px;
  margin-bottom:0em;
}

h4 {
  letter-spacing: 0px;
}

ul.MenuBar {
    display: flex;
    justify-content: flex-start; /*左寄せ*/
    flex-direction: row;  /*左から右へ*/
    list-style-type: none; /*箇条書きの先頭の点は要らない*/
    margin: 4px 0px 4px 0px;
    padding: 0px 0px 0px 0px;
}

ul.MenuBar li a.InternalPageLink {
  margin-right:10px;
  color:gray;
  text-decoration:none;
}

td a, td a:link, td a:active, td a:hover, td a:visited {
  color:#500000;
  text-decoration: underline;
}

.DataTable {
  letter-spacing: 0px;
  font-size: 11px;
  border: 1px solid #666666;
  border-collapse: collapse;
  border-spacing: 0px;
}

.DataTable tr {
  background-color: #FAFAFA;
}
.DataTable tr.red {
  background-color: #F3EEE7;
}
.DataTable tr.grey {
  background-color: #E0E0E0;
}
.DataTable tr:hover > td {
  background-color: #FBFACE;
}
.DataTable tr.nohover > td {
  background-color: #FAFAFA;
}


.DataTable tr th {
  text-align: center;
  font-weight: bold;
 /* white-space: nowrap; */
  min-width: 75px;
  max-height: 50px;
  vertical-align: middle;
/*  background-color: #BEC8D1; */
  background-color: #DCE1E5;
  color: #303030;
  border: 1px solid #666666;
  border-collapse: collapse;
  padding-top: 2px;
  padding-right: 4px;
  padding-bottom: 2px;
  padding-left: 4px;
}
.DataTable tr th.SYSTEM_COLUMN {
  background-color:lightgrey
}

.DataTable tr th .PHYSICAL_COLUMN_NAME{
  color: darkgrey;
}

th a, th a:link, th a:active, th a:hover, th a:visited {
  color: steelblue;
  text-decoration: underline;
}

.DataTable tr td {
  text-align: left;
  font-weight: normal;
  white-space: nowrap;
  vertical-align: top;
  color: #303030;

  border: 1px solid #666666;
  border-collapse: collapse;
  padding-top: 1px;
  padding-right: 4px;
  padding-bottom: 1px;
  padding-left: 4px;
}
.DataTable tr td .CODE_NAME{
  color: grey;
}
.DataTable tr td .NULL {
  color: grey;
}

.QueryForm tr {
  white-space:nowrap;
}

.QueryForm tr td:nth-child(2n)  {
  padding-right: 3em;
}

input, select {
  font-size:12px;
  color:#000000;
  vertical-align: top;
}

select {
    min-width:12em; /* ある程度大きいほうがクリックしやすい */
}

input:focus {
  border: 1px solid brown;
  background-color: #e8e8e8;
}
input[type=checkbox], input[type=radio] {
  vertical-align: middle;
}

.texta {
  font-size:12px;
  background-color: #fafafa;
  border: 1px solid #666666;
  min-width:12em; /* ある程度大きいほうがクリックしやすい */
}

textarea:focus {
  border: 1px solid brown;
}


/* 通常のボタン型の<INPUT>タグ用 */
.button, .button:focus {
  border: 2px solid #303030;
  border-color: #601010;
  background-color: #f0f0f0;
  margin-top: 4px;
  padding: 1px 4px 1px 4px;
  vertical-align: middle;
}

/* GET ボタンは一番目立つように */
.getbutton{
  border: 2px solid #303030;
  border-color: #881818;
  background-color: #f0f0f0;
  color: #601010;
  margin-top: 4px;
  padding: 3px 6px 3px 6px;
  vertical-align: middle;
}


/* ボタンのように見せる<A>タグ型用 */
.button_face {
  display: inline-block;
  text-decoration: none;
  border: 2px solid #303030;
  border-color: #888888;
  background-color: #f0f0f0;
  color:#404040;
  margin: 4px 2px 4px 2px;
  padding: 1px 2px 1px 2px;
  white-space: nowrap;
}

.button:hover, .button_face:hover{
  border-color: #B03030;
  background-color: #e0e0e0;
}

.getbutton:hover {
  border-color: #E03F3F;
  background-color: #e0e0e0;
}

.button_face_disabled {
  pointer-events:none;
  color: darkgrey;
  background-color: lightgray;
}

.message_error {
	white-space: normal;
	color: #CC0000;
	background-color: #FFFFFF;
	border: 1px solid #FF0000;
  border-radius: 3px;
  margin: 0px 30% 0 20px;
  padding: 5px;

}
.message_success {
	white-space: normal;
	color: #006600;
	background-color: #FFFFFF;
  border: 1px solid #006600;
  border-radius: 3px;
  margin: 0px 30% 0 20px;
  padding: 5px;

}
.message_info {
  color: lightgray;
  margin: 0px 30% 0 20px;
  }

pre {
    font-family: verdana, Tahoma, serifSansSerifMonospace,sans-serif;
    color: #999999;
    margin: 0px 15% 0 20px;

    /* Mozilla */
    white-space: -moz-pre-wrap;
    /* Opera 4-6 */
    white-space: -pre-wrap;
    /* Opera 7 */
    white-space: -o-pre-wrap;
    /* CSS3 */
    white-space: pre-line;
    /* IE 5.5+ */
    word-wrap: break-word;
}
