<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="description" th:content="${appName}">
    <title th:text="${appName}"></title>
    <link th:href="@{/css/Site.css}" rel="styleSheet">
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>

<BODY>
<H1> 代理店詳細 </H1>
<FORM NAME='QFORM' METHOD='GET' ACTION='/agentEnquiry'>
    <TABLE  CLASS='QueryForm'>
        <TR>
            <TD>代理店コード-代理店サブコード：</TD>
            <TD><INPUT TYPE="text" ID="agentCodeSubCode" NAME="agentCodeSubCode" th:value="${req.agentCodeSubCode}"></TD>
            <TD>冗長モード: </TD>
            <TD><INPUT TYPE='CHECKBOX' ID='verboseMode' NAME='verboseMode' th:checked="${req.verboseMode}" ></TD>
        </TR>
    </TABLE>
    <INPUT TYPE='SUBMIT' VALUE='GET' CLASS='getbutton'>
</FORM>
<HR SIZE=1 NOSHADE>
<UL CLASS='MenuBar'>
    <LI><A HREF='/keiyakuList' CLASS='button_face'>契約DB一覧</A></LI>
</UL>
<FORM NAME='DFORM' METHOD='GET' ACTION='DUMMY'>
    <div th:each="item : ${dataTables}">
        <H3 th:id='${item.logicalTableName}' th:text="${item.logicalTableName}"></H3>
        <!--/* E0002 */-->
        <DIV th:utext="${item.html.invoke()}"></DIV>
    </div>
</FORM>
</BODY>

</HTML>
