<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="description" th:content="${appName}">
    <title th:text="${appName}"></title>
    <link th:href="@{/css/Site.css}" rel="styleSheet">
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>

<BODY>
<H1> Json詳細 </H1>
<FORM NAME='QFORM' METHOD='POST' ENCTYPE="multipart/form-data" ACTION='/jsonEnquiry'>
    <TABLE  CLASS='QueryForm'>
        <TR>
            <TD>JSONファイル：</TD>
            <TD><INPUT TYPE="file" ID="jsonFile" NAME="jsonFile" th:value="${req.jsonFile.getOriginalFilename()}"></TD>
            <TD>冗長モード: </TD>
            <TD><INPUT TYPE='CHECKBOX' ID='verboseMode' NAME='verboseMode' th:checked="${req.verboseMode}" ></TD>
        </TR>
    </TABLE>
    <INPUT TYPE='SUBMIT' VALUE='GET' CLASS='getbutton'>
</FORM>

<PRE th:if="${error}" th:text="${error}" CLASS="message_error"></PRE>
<PRE th:if="${jsonString}" th:text="${jsonString}" CLASS="message_info"></PRE>

<HR SIZE=1 NOSHADE>
<UL CLASS='MenuBar'>
    <LI><A HREF='/teianList' CLASS='button_face'>提案DB一覧</A></LI>
</UL>
<FORM NAME='DFORM' METHOD='GET' ACTION='DUMMY'>
    <div th:each="item : ${dataTables}">
        <H3 th:id='${item.logicalTableName}' th:text="${item.logicalTableName}"></H3>
        <DIV th:utext="${item.html}"></DIV>
    </div>
</FORM>
</BODY>
</HTML>
