<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>照会系画面　－　Groovyの例</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" ></meta>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css" 
        th:href="@{/webjars/Semantic-UI/2.2.9/semantic.min.css}" 
        rel="stylesheet" type="text/css" ></link>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js" 
        th:src="@{/webjars/Semantic-UI/2.2.9/semantic.min.js}"></script> 
<script>
  console.log("ok1");
  $( function(){
	  //サイドバー開閉のイベント登録
     $('#js-sidebar').click(function() {
   	  console.log("ok")
       $('.ui.sidebar').sidebar('toggle');
     });
     //ドロップダウンの初期化
     $('.ui.dropdown').dropdown();
  });
</script>
<style>
.ui.fluid.container {
	margin-top: 90 !important;
    margin-left: 30 !important;
    margin-right: 0 !important;
}
.ui.labeled.input {
    margin-top: 5 px;
    margin-bottom: 5px;
}
.column {
    /*border: 1px solid blue;*/
}

</style>
    
</head>
<body>



<!-- 上部ナビゲーションメニュー -->
<div class="ui fixed menu">
  <div class="menu">
    <div id="js-sidebar" class="item"><i class="icon large grey content"></i></div>
    <h1>照会系画面のサンプル</h1>
  </div>
</div>

<div th:include=" simple/02-enquiry-sample-menu :: menu " ></div>

<!-- メインのコンテンツ -->
<div class="pusher">
<div class=" ui fluid container">

<form method="post" th:object="${keyValueForm}">


<div class="ui three column grid">
  <div class="column">
     <div class="ui labeled input"><div class="ui label">証券番号 </div>
      <input type="text" th:field="*{myMap[policyNo]}"  placeholder="SK0000001"></input>
    </div>
    <div class="ui labeled input"><div class="ui label">契約者氏名ｶﾅ </div>
      <input type="text" th:field="*{myMap[contractorName]}" placeholder="損保太郎"></input>
    </div>
    <div class="ui labeled input"><div class="ui label">契約者住所ｶﾅ </div>
      <input type="text" th:field="*{myMap[contractorAddress]}"  placeholder="東京都％	"></input>
    </div>
  </div>
  <div class="column">
    <div class="ui labeled input"><div class="ui label">保険始期日 </div>
      <input type="text" th:field="*{myMap[contractStartDate]}" placeholder="2017/4/1"></input>
    </div>
    <div class="ui labeled input"><div class="ui label">商品コード </div>
      <input type="text" th:field="*{myMap[productCode]}" placeholder="THEカラダ"></input>
    </div>

<div class="ui selection dropdown">
  <input type="hidden"  th:field="*{myMap[productCategory]}"></input>
  <i class="dropdown icon"></i>
  <div class="default text">種目</div>
  <div class="menu">
    <div class="item" data-value="0">傷害</div>
    <div class="item" data-value="1">自動車</div>
    <div class="item" data-value="2">火災</div>
  </div>
</div>
</div>
  
  <div class="column"></div>
</div>

<p></p>
<!-- ***************************************** 
** ボタン
********************************************** -->
<button class="ui primary button">検索</button>
<button class="ui button">リセット</button>
</form>

<hr></hr>
<table class="ui celled table compact collapsing">
  <thead>
    <tr>
      <th th:text="#{msgs.headers.policy_no}" >証券番号</th>
      <th th:text="#{msgs.headers.contractor_name}" >契約者氏名</th>
      <th th:text="#{msgs.headers.contractor_address}" >契約者住所</th>
      <th th:text="#{msgs.headers.contract_start_date}" >保険始期日</th>
      <th th:text="#{msgs.headers.product_code}" >商品コード</th>
      <th th:text="#{msgs.headers.product_category}" >種目</th>
      <th th:text="#{msgs.headers.premium}" >保険料</th>
      
    </tr>
  </thead>
  <tbody>
    <tr th:each="contract: ${contracts}">
      <th th:text="${contract.policyNo}" >証券番号</th>
      <th th:text="${contract.contractorName}" >契約者氏名</th>
      <th th:text="${contract.contractorAddress}" >契約者住所</th>
      <th th:text="${contract.contractStartDate}" >保険始期日</th>
      <th th:text="${contract.productCode}" >商品コード</th>
      <th th:text="${contract.productCategory}" >種目</th>   
      <th th:text="${contract.premium}" >保険料</th>         
            
    </tr>
  </tbody>
</table>
</div>
</div>
</body>
</html>
