<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>照会系画面　－　Groovyの例</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" ></meta>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css" 
        th:href="@{/webjars/Semantic-UI/2.2.9/semantic.min.css}" 
        rel="stylesheet" type="text/css" ></link>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js" 
        th:src="@{/webjars/Semantic-UI/2.2.9/semantic.min.js}"></script> 
<script>
  console.log("ok1");
  $( function(){
	  //サイドバー開閉のイベント登録
     $('#js-sidebar').click(function() {
   	  console.log("ok")
       $('.ui.sidebar').sidebar('toggle');
     });
     //ドロップダウンの初期化
     $('.ui.dropdown').dropdown();
  });
</script>
<style>
.ui.fluid.container {
	margin-top: 90 !important;
    margin-left: 30 !important;
    margin-right: 0 !important;
}
.ui.labeled.input {
    margin-top: 5 px;
    margin-bottom: 5px;
}
.column {
    /*border: 1px solid blue;*/
}

</style>
    
</head>
<body>



<!-- 上部ナビゲーションメニュー -->
<div class="ui fixed menu">
  <div class="menu">
    <div id="js-sidebar" class="item"><i class="icon large grey content"></i></div>
    <h1>照会系画面のサンプル</h1>
  </div>
</div>

<div th:include=" simple/02-enquiry-sample-menu :: menu " ></div>

<!-- メインのコンテンツ -->
<div class="pusher">
<div class=" ui fluid container">

<form method="post" th:object="${keyValueForm}">
<div class="ui three column grid">
  <div class="column">   
    <div th:replace="simple/05-enquiry-sample-parts :: my_text_field ('証券番号','policyNo','SK001')"></div>
    <div th:replace="simple/05-enquiry-sample-parts :: my_text_field ('契約者氏名ｶﾅ ','contractorName','損保太郎')"></div>
    <div th:replace="simple/05-enquiry-sample-parts :: my_text_field ('契約者住所ｶﾅ ','contractorAddress','東京都')"></div>
  </div>
  <div class="column">
    <div th:replace="simple/05-enquiry-sample-parts :: my_text_field ('保険始期日','contractStartDate','2017/4/1')"></div>
    <div th:replace="simple/05-enquiry-sample-parts :: my_text_field ('商品コード','productCode','THEカラダ')"></div>
    <div th:replace="simple/05-enquiry-sample-parts :: my_dropdown_field ('種目','productCategory',${ {1:'傷害',2:'自動車',3:'火災'} })"></div>
  </div>
  
  <div class="column"></div>
</div>

<p></p>
<!-- ***************************************** 
** ボタン
********************************************** -->
<button class="ui primary button">検索</button>
<button class="ui button">リセット</button>
</form>

<hr></hr>
<table class="ui celled table compact collapsing" th:if="${contracts} ? ${contracts.size()} >0 : #{false}">
  <thead>
    <tr>   
      <th th:each="row: ${contracts[0].entrySet()}" th:text="#{msgs.headers.__${row.key.toLowerCase()}__}" >証券番号</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="row: ${contracts}" >
      <td th:each="f : ${row}" th:text="${f.value}">XXX</td>
            
    </tr>
  </tbody>
</table>	

</div>
</div>
</body>
</html>
